div class="attachment_#{attachment.id}"
  li = link_to attachment.file.identifier, attachment.file.url
  - if user_signed_in? && current_user.author_of?(attach)
    = link_to 'Delete file', attachment, method: :delete, remote: true